div {
  background: #222;
  margin-bottom: 20px;
  color: white;
}

div.short {
  height: 100px;
}

.tall {
  height: 200px;
}

.outside {
  height: 300px;
}

.inner {
  height: inherit;
}

.body {
  width: 100%;
  height: 100%;
}
.giant {
  position: absolute;
  display: inherit;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

/* Code Under This Line */
